{% extends 'base.html' %}

{% block title %} Intsearch {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/intsearch.css" />
{% endblock %}

{% block bodystyle %}
	background-image: url('https://open.saintic.com/api/bingPic/')
{% endblock %}
{% block body %}
<div id="search-box">
	<span style="color: #fff; font-size: 32px; font-weight: 400; letter-spacing: 4px; margin-right: 20px; font-family: sans-mono">
		Intsearch
	</span>
	<input id="q" style="height: 100%; width: 100%" type="text">
	</input>
	<button id="q-submit" class="button button-square" style="width: 50px; height: 100%;">
		<i class="icon-search"> </i>
	</button>
	<script>
		$("#q-submit").click(function(){Response()})
		$("#q").keydown(function(event){
			if( event.which == 13 )
				Response()
		})
	</script>
</div>
<div id="search-result-box" hidden>

</div>

<script>
	// Response()
</script>
{% endblock %}
